<app-loading *ngIf="isLoading"></app-loading>
<div class="container-fluid">

  <div class="card mb-3 card-body">

    <p [appFontSize]="20">Formulario de registro</p>
    <form [formGroup]="estudianteForm" (ngSubmit)="onSubmit()">
      <div class="row g-3">
        <div class="col">
          <input 
            formControlName="nombre" 
            type="text" 
            [class.is-invalid]="nombreControl.invalid && nombreControl.touched"
            class="form-control " 
            placeholder="Nombre" 
            aria-label="First name"
            required
            >
            <app-form-error-helper 
              *ngIf="nombreControl.invalid && nombreControl.touched"
              [formErrors]="nombreControl.errors">
            </app-form-error-helper>
            <!--
            <div *ngIf="nombreControl.hasError('required')" class="invalid-feedback">
              Es requerido
            </div>
            <div *ngIf="nombreControl.hasError('minlength')" class="invalid-feedback">
              Debe tener mínimo 3 caracteres
            </div>
            -->
        </div>
        <div class="col">
          <input 
            formControlName="apellido" 
            type="text" 
            [class.is-invalid]="apellidoControl.invalid && apellidoControl.touched"
            class="form-control" 
            placeholder="Apellido" 
            aria-label="Last name"
            required
            >
            <app-form-error-helper 
              *ngIf="apellidoControl.invalid && apellidoControl.touched"
              [formErrors]="apellidoControl.errors">
            </app-form-error-helper>
        </div>
        <div class="col-12">
          <input 
            formControlName="email" 
            type="email" 
            [class.is-invalid]="emailControl.invalid && emailControl.touched"
            class="form-control" 
            placeholder="Email" 
            aria-label="Email"
            required
            >
            <app-form-error-helper 
              *ngIf="emailControl.invalid && emailControl.touched"
              [formErrors]="emailControl.errors">
            </app-form-error-helper>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary" type="submit">Registrar</button>
        </div>
      </div>
    </form>
    <div class="col-12 mt-3">
      <h3 class="card-title">Nuevos alumnos:</h3>

      <table class="table table-stripped">
        <thead>
          <tr>
            <th>Nombre completo</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let estudiante of estudiantes"> 
              <td>{{ estudiante.nombre }} {{ estudiante.apellido }}</td>
              <td>{{ estudiante.email }}</td>
          </tr>
        </tbody>
      </table>

      <!--
      <pre>
        {{ estudiantes | json }}
      </pre>
    -->
    </div>
  </div>

    <h1 class="mb-3">
      Tabla de usuarios
    </h1>
    

    <table mat-table [dataSource]="alumnos" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef>Nombre completo</th>
        <td mat-cell *matCellDef="let alumno"> {{alumno | fullname }}  </td>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.email}} </td>
      </ng-container>
    
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Edad</th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.age}} </td>
      </ng-container>

      <ng-container matColumnDef="birthdate">
        <th mat-header-cell *matHeaderCellDef>Fecha de nacimiento</th>
        <td mat-cell *matCellDef="let alumno"> {{ alumno.birthdate | date: 'dd/MM/yyyy' }} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    

    <!--
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre completo</th>
          <th>Email</th>
          <th>Edad</th>
          <th>Fecha de nacimiento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos" [ngClass]="alumno.isTop10 ? 'table-success': ''"> 
            <td>{{ alumno.id }}</td>
            <td>{{ alumno.firstName | uppercase }} {{ alumno.lastName }}</td>
            <td>{{ alumno.email }}</td>
            <td>{{ alumno.age }}</td>
            <td>{{ alumno.birthdate | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
    -->
  </div>
  